td {
    width: 200px;
    height: 200px;
    margin: 0px, 10px;
    overflow: hidden;
}

.ft{
margin-left: 100px;
text-align: center;
}

#tagger {
    width: 200px;
    height: 200px;
    margin: 0px, 10px;
    display: none;
}

#tagger img {
    float: left;
}

span.notify {
    color: red;
}

.paginator {
    float: right;
    padding-top: 0.7em;
}

.page {
    margin: 0px 3px;
}

a:link, a:visited {
    text-decoration: none;
    color: #0068ef;
}

a:hover, a:active {
    text-decoration: underline;
    color: #0068ef;
}

.entity {
    text-align: center;
    vertical-align: top;
}
