td {
    width: 200px;
    height: 200px;
    margin: 0px, 10px;
    overflow: hidden;
}

.ft{
margin-left: 100px;
text-align: center;
}

#tagger {
    width: 200px;
    height: 200px;
    margin: 0px, 10px;
    display: none;
}

#tagger img {
    float: left;
}

span.notify {
    color: red;
}
