<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}" itemscope itemtype="http://schema.org/WebPage">
    <head>
        <title>{% block title %}{{ format(gettext('Index of %s'), [dir]) }}{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=0.6" />
        <meta content="{{ title }}" about="{{ dir }}" property="dc:title" />
        <link rel="icon" href="{{ STATIC_URL }}favicon.ico" type="image/vnd.microsoft.icon" />
        <link href="{{ STATIC_URL }}sabari.min.css" rel="stylesheet" type="text/css">
        <script data-main="{{ STATIC_URL }}sabari.min.js" src="{{ STATIC_URL }}/lib/require.js"></script>
        <style>a img{border: 0px;}</style>
    </head>
    <body>
        {% block content %}
        <input type="hidden" id="page" value="{{ page }}">
        {% if page >= 0 -%}
        <div class="paginator">
            {% if page > 3 %}<a href="./" class="page">first</a>{% endif %}
            {% for p in range(pmin, pmax) -%}
                {% if p == page -%}
                <span class="page">{{ p+1 }}</span>
                {%- else -%}
                <a href="./?p={{ p }}" class="page">{{ p+1 }}</a>
                {%- endif %}
            {%- endfor %}
            {% if page < pages-3 %}<a href="./?p={{ pmax }}" class="page">last</a>{% endif %}
        </div>
        {%- endif %}
        <h1>{{ format(gettext('Index of %s'), [dir]) }}</h1>
        <hr>
        <table>
            <tbody class="holder">
            <tr class="row">{% for item in items -%}
            {% if loop.index0 and (loop.index0 % columns) == 0 %}</tr><tr class="row">{% endif %}
                <td class="entity">
                    <a href="{{ item.href }}"><img src="{{ item.src|d('') }}" {% if item.w -%} width="{{ item.w }}"
                    {%- endif %} alt="{{ item.alt|d('') }}" name="{{ item.name|d('') }}"><br />{% if item.desc -%}
                    {{ item.desc }}{%- endif %}</a>
                </td>
            {%- endfor %}</tr>
            </tbody>
        </table>
        {% endblock %}
        {% block footer %}
        <hr>
        <p class="ft">
            {% if NOTIFICATIONS -%}
                {% for notify in notifications -%}
            <span class="notify">{{ gettext(notify) }}</span><br />
                {%- endfor %}
            {%- endif %}
            Sabari v {{ VERSION }}<br />
            {{ gettext('Time') }}:<span name="time">{{ time }}</span> s.<br />
            Original <a href="https://github.com/SirAnthony/sabari">script</a> by
            <a href="mailto:anthony[at]adsorbtion.org">Sir Anthony</a>
        </p>
        {% endblock %}
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
